{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>alertify.success('{{message}}');</script>
            {% elif message.tags == 'info'%}
                <script>alertify.message('{{message}}');</script>
            {% elif message.tags == 'warning'%}
                <script>alertify.warning('{{message}}');</script>

            {% elif message.tags == 'error'%}
             <script>alertify.error('{{message}}');</script>

            {% endif %}
        {% endfor %}
{% endif %}